:root {
    --bg-color: white;
    --primary-color: #E08E79;
    --secondary-color: #42929d;
    --tertiary-color: #F4F4E1;
    --fourth-color: #774F38;
  }

.formulario-div {
    /* background-image: url(../imagenes/fondo.png); */
    background: var(--bg-color);
    min-height: 80vh;
    display: grid;
    place-items: center;
    padding: 30px;
}

.formulario-div form {
    width: 400px;
    min-height: 60vh;
    background: #f4f4e1;
    border: 5px solid white;
    padding: 3%;
    font-family: "Montserrat", serif;
    font-size: 1.5rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.parrafo-terminos {
    padding: 3%;
    font-size: 1rem;
    display: inline;
}



input[type=text], input[type=date], input[type=email], input[type=password], input[type=number], input[type=file], textarea, select {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 0.5rem 0 0.5rem 0;
}

label {
    color: #774f38;
}

.formulario-div h3 {
    text-align: center;
    color: #42929f;
    text-transform: uppercase;
    border-bottom: 1px solid #42929f;
}